@model IEnumerable<JokeApp.Models.Joke>

@{
    ViewData["Title"] = "Index";
}

<h1>All the world-class jokes</h1>

<p>
    <a asp-action="Create" class="btn btn-warning my-2">Create a new Joke</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Answer</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
